<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Jianzhong Ding">
  <meta name="email" content="coca4017@hotmail.com">
  <title>FreshPro Inventory Management System</title>
  <link rel="stylesheet" href="/css/main.css" />

  <!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@4.5.0/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script> -->

</head>

<body tabindex="-1">

  <%- include('partials/navbar', {page: '/products' }) %>

    <div class="container mx-auto p-4">

      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center ">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Products</h1>
  
          </div>
        </div>
      </div>
  
      <br />

    
      <div class="overflow-x-auto overflow-y-hidden">
        <table class="table table-zebra">
          <!-- head -->
           <thead>
            <th>
              <span class="font-bold">Bar Code 产品条码</span>
            </th>
            <th>
              <span class="font-bold">Product Name产品名称</span>
            </th>

            <th>
              <span class="font-bold">Shelf Location 基本储位</span>
            </th>
            <th>
              <span class="font-bold">Alternative Shelf Location 补充储位</span>
            </th>
          
          </thead>
          
          <tbody>
            <% products.forEach(product=> { %>

              <tr>
                <td>
                   <%= product.barCode %>  
                </td>

                <td>
                   <%= product.productName %> 
                </td>


                <td>
                  <% if(product.primaryShelfLocation) { %>
                    <span style="width: 100px; display: inline-block">Shelf(货架): </span><%= product.primaryShelfLocation?.slice(0,2) %> <br>
                    <% if(product.primaryShelfLocation.length===4) { %> <span style="width: 100px; display: inline-block">Section(区域): </span><%= product.primaryShelfLocation.slice(2,3) %>  %> <br> <% } %>
                    <span style="width: 100px; display: inline-block">Level(层): </span><%= product.primaryShelfLocation?.slice(-1) %> 
                  <%  } %>
                  </td>

                <td>
                  
                  <% if(product.alternativeShelfLocation) { %>
                    <span style="width: 100px; display: inline-block">Shelf(货架): </span><%= product.alternativeShelfLocation?.slice(0,2) %> <br>
                    <% if(product.alternativeShelfLocation.length===4) {  %> <span style="width: 100px; display: inline-block">Section(区域): </span><%= product.alternativeShelfLocation.slice(2,3) %>  %> <br> <% } %>
                    <span style="width: 100px; display: inline-block">Level(层): </span><%= product.alternativeShelfLocation?.slice(-1) %> 
                  <%  } %>
                </td>

              </tr>

              <% }); %>

          </tbody>


        </table>
      </div>

    </div>



</body>

</html>