<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FreshPro Inventory Management System</title>
  <link rel="stylesheet" href="/css/main.css" />

  <!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@4.5.0/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script> -->

</head>

<body tabindex="-1">

  <%- include('partials/navbar', {page: '/shelfLocationManagement'}) %>

    <div class="container mx-auto p-4">

      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center ">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Products in shelf <%= shelfLocationID %> </h1>
  
            
  
          </div>
        </div>
      </div>
  
      <br />

    
      <div class="overflow-x-auto overflow-y-hidden">
        
        <table class="table table-zebra">

          <% if(products.length > 0) { %>
          <!-- head -->
          <thead>
            <th>
              <span class="font-bold">Bar Code</span>
            </th>
            <th>
              <span class="font-bold">Product Name</span>
            </th>
            <th>
              <span class="font-bold">Brand</span>
            </th>
            <th>
              <span class="font-bold">Price: </span>
            </th>
            <th>
              <span class="font-bold">Primary Shelf Location: </span>
            </th>
            <th>
              <span class="font-bold">Alternative Shelf Location: </span>
            </th>
            <th>
              <span class="font-bold">Remove From Shelf </span>
            </th>
          
          </thead>

          <% } %>
          
          <tbody>
            <% products.forEach(product=> { %>

              <tr>
                <td>
                  <%= product.barCode %>  
                </td>

                <td>
                  <%= product.productName %> 
                </td>

                <td>
                  <%= product.brand %> 
                </td>

                <td>
                  <%= product.price %> 
                </td>

                <td>
                  <%= product.primaryShelfLocation %> 
                </td>

                <td>
                  <%= product.alternativeShelfLocation %> 
                </td>

                <td>
                  <button style="color: red;",onclick="removeProduct('<%= product.barCode %>', '<%= shelfLocationID %>')">remove</button>
                </td>

              </tr>

              <% }); %>

              <% if (products.length == 0) { %> <h1  class="text-3xl font-bold text-center" style="margin-bottom: 30px;"> Currently there is no product in this shelf location.</h1> <% } %>

              <form action="" method="post" style="border: 1px solid black;" >

                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 gap-y-0">
                  <div>
                    <div class="mb-6" style="text-align: right; padding-top: 5px"><label for="barCode" class="block text-gray-700 font-medium">Bar Code: </label>
                      
                    </div>
        

                  </div>

        
                  <div>
                    <div class="mb-6">
                      
                      <input type="text" id="barCode" name="barCode" required
                        class="w-full border border-gray-300 rounded-md px-3 py-2 focus:border-blue-300">
                    </div>
                    <div class="mb-6">

                    </div>
                  </div>
        
        
                  <div>
                    <div class="mb-6">
                      <label for="isAlternative" class="block text-gray-700 font-medium">Is Alternative Shelf Location?</label>
                      <!-- <input type="checkbox" id="permanentUNSC" name="permanentUNSC" required
                        class="checkbox"> -->
                        <label class="label cursor-pointer justify-center">
                          <input type="checkbox" name="isAlternative" class="checkbox" />
                          <span class="label-text px-2"></span>
                        </label>
                    </div>

                  </div>
                </div>
        
                <div class="mt-6" style="margin-bottom: 50px">
                  <button type="submit" class="btn btn-primary w-full ">Add Product to Shelf Location</button>
                </div>
         
              </form>

          </tbody>


        </table>
      </div>

    </div>

</body>
<script>
  function removeProduct(barCode, shelfLocation) {
    fetch('/removeProductFromShelf', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ "barCode":barCode, "shelfLocation": shelfLocation })
    })
    .then(response => response.json())
    .then(data => {
      alert(data.message); // 提示用户
      location.reload(); // 刷新页面以更新表格
    })
    .catch(err => {
      console.error("Error removing product from shelf: ", err);
      alert("There was an error removing the product from the shelf.");
    });
  }
</script>

</html>